div#LogForm{
    width: 30%;
    height:750px;
    position: relative;
    position: fixed;
    background-color: rgba(127, 162, 197, 0.897) ;
}
label{
    color: white;
}
h2{
    text-align: center;
    color: white;
}
#btnConnect{
    float: right;
    margin-right: 45px;
    margin-top: 40px;
    width: 200px;
}

form a{
    color: darkblue;
}
form a:hover{
    color: black;
}
.error{
    text-align: center;
    color: rgb(255, 0, 0);
}
@media screen and (max-width:500px){
    div#LogForm{
        width: 100%;
        height:500px;
        position:relative
        
        
    }
}