.button-wrap {
    position: relative;
    width: 402px;
    text-align: center;
   
  }
  #inputpost{
      width:400px;
  }
  .button-wrap span.labels {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #e20c0c;
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #uploads {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }
div#Sendpost{
    width: 406px;
    border-radius: 10px;
    margin: auto;
    border: 2px solid red;
    overflow: hidden;
}
#postPreview {
    width: 400px;
}
#postPreview h3{
    text-align: center;
}
#postPreview img#imgPrev{
    max-height:400px;
    max-width:350px;
}
@media screen and (max-width:500px){
    .button-wrap {
        width: 302px;
       
    }
    #inputpost{
        width:300px;
    }
    div#Sendpost{
        width: 303px;
    }
    #postPreview img#imgPrev{
        max-height:200px;
        max-width:150px;
    }
}
