#postdownload{
    width: 500px;
    height: 500px;
    border: 1px solid purple;
    display: flex;
    margin: 20px auto;
    border-radius: 5%;
    overflow: hidden;
}
#postimg{
    width: 400px;
}
#userwrap{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
#profiluser{
    width: 50px;
    height: 100%;
    border-radius: 50%;
}
#userwrap p{
    margin-left: 20px;
    margin-top: 10px;
}
#postwrap h3{
    text-align: center;
}
#postwrap img{
    max-height: 350px;
    max-width: 100%;
    margin: auto;
}
#postbtn i.fas{
    font-size: 22px;
    margin-top: 25px;
    cursor:pointer;
    
   
}
div#postbtn i.like:first-child{
    margin-top: 50px;
    
}
div#postbtn{
    width: 50px;
    margin: 0px auto;
}
div#postbtn i.userlike{
    color: rgb(6, 206, 6);
    
}
div#postbtn i.userdislike{
    color: red;
    
}
#comment{
    height: 250px;
    width: 500px;
    border: 1px solid purple;
    margin: auto;
    
}
#comment #content{
    height: 210px;
    overflow-y: scroll;
    
}
#comment #inputpost{
  position: relative;
  bottom: 0px;
  width: 100%;
}
.com{
    padding: 20px;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(190, 189, 189, 0.212);
    margin-top: 20px;
    
}
#del{
    position: relative;
   margin-left: 95%;}